#login {
    position: absolute;
    border: solid;
    border-radius: 10px;
    border-color: #286090;
    padding-left: 5px;
    padding-right: 5px;
    top: 5px;
    right: 10px;
    font-size: 20px;
}

#jumbo{
text-align:center;
font-size:30px;
}

.header {
    height: 25px;

}
.content 1{
    min-height: calc(100vh - 255px - 100px);
}

.content {
    min-height: 350px;
}

#footer {
    background: #ffab62;
    background-color: rgb(144,142,136);
    width: 100%;
    height: 100px;
}

.body {
	font-family: 'Open Sans', sans-serif;
}

.cell {
    margin:5px;
}

#usercell {
    margin-top:20px;
    margin-bottom:20px;
}
