

#jumbo {
    text-align: center;
    font-size: 30px;
}

.header {
    height: 25px;
}

.content {
    min-height: calc(100vh - 255px - 100px);
}

.content {
    min-height: 350px;
}

#footer {
    background-color: rgb(144,142,136);
}


.cell {
    margin: 5px;
}

#usercell {
    margin-top: 20px;
    margin-bottom: 20px;
}


#shippingaddresscell {
    margin-bottom:5px;
    margin-top:5px;
}
